<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>WeatherStar 4000+ for Firebot</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <link rel="stylesheet" type="text/css" href="../../weatherstar-dist/ws.min.css" />
  <script type="text/javascript" src="../../weatherstar-dist/data.min.js"></script>
  <script type="text/javascript" src="../../weatherstar-dist/vendor.min.js"></script>
  <script type="text/javascript" src="../../weatherstar-dist/ws.min.js"></script>
</head>

<body class="kiosk">

  <div id="divTwc">
    <div id="container">
      <div id="loading" width="640" height="480">
        <div>
          <div class="title">WeatherStar 4000+</div>
          <div class="version">v<%- version %> for Firebot</div>
          <div class="instructions">Loading settings...</div>
        </div>
      </div>
      <div id="progress-html" class="weather-display">
        <%- include('partials/progress.ejs') %>
      </div>
      <div id="hourly-html" class="weather-display">
        <%- include('partials/hourly.ejs') %>
      </div>
      <div id="hourly-graph-html" class="weather-display">
        <%- include('partials/hourly-graph.ejs') %>
      </div>
      <div id="travel-html" class="weather-display">
        <%- include('partials/travel.ejs') %>
      </div>
      <div id="current-weather-html" class="weather-display">
        <%- include('partials/current-weather.ejs') %>
      </div>
      <div id="local-forecast-html" class="weather-display">
        <%- include('partials/local-forecast.ejs') %>
      </div>
      <div id="latest-observations-html" class="weather-display">
        <%- include('partials/latest-observations.ejs') %>
      </div>
      <div id="regional-forecast-html" class="weather-display">
        <%- include('partials/regional-forecast.ejs') %>
      </div>
      <div id="almanac-html" class="weather-display">
        <%- include('partials/almanac.ejs') %>
      </div>
      <div id="spc-outlook-html" class="weather-display">
        <%- include('partials/spc-outlook.ejs') %>
      </div>
      <div id="extended-forecast-html" class="weather-display">
        <%- include('partials/extended-forecast.ejs') %>
      </div>
      <div id="radar-html" class="weather-display">
        <%- include('partials/radar.ejs') %>
      </div>
      <div id="hazards-html" class="weather-display">
        <%- include('partials/hazards.ejs') %>
      </div>
    </div>
    <div id="divTwcBottom"></div>
    <div id="enabledDisplays"></div>
  </div>

</body>

</html>